In [1]:
%autosave 300
%reload_ext autoreload
%autoreload 2
%config Completer.use_jedi = False

Autosaving every 300 seconds

In [2]:
import jupyter_black
jupyter_black.load(lab=False)

In [3]:
import os

os.chdir(
    r"/mnt/batch/tasks/shared/LS_root/mounts/clusters/copilot-model-run/code/Users/Soutrik.Chowdhury/abi_hackathon_2k24"
)
print(os.getcwd())

/mnt/batch/tasks/shared/LS_root/mounts/clusters/copilot-model-run/code/Users/Soutrik.Chowdhury/abi_hackathon_2k24

In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.set_option("display.max_colwidth", None)
pd.set_option("display.width", None)
from pandarallel import pandarallel
import re
from datetime import datetime
import gc
from sklearn.preprocessing import FunctionTransformer
from helpers.compress import reduce_mem_usage
import pickle

In [5]:
pandarallel.initialize(progress_bar=True, nb_workers=os.cpu_count() - 2)

INFO: Pandarallel will run on 14 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

In [32]:
data_folder = "data"
processed_data_folder = "processed_data_S1"

In [7]:
volume_df = pd.read_csv(f"{data_folder}/hackathon_training_data_csv_file.csv")

In [8]:
volume_df = volume_df.drop(["Unnamed: 0"], axis=1)
volume_df.isnull().sum()

year                 0
month                0
day                  0
sales_volume_hl      0
ppg_name             0
unique_poc_id      130
dtype: int64

In [9]:
volume_df.shape

(39825098, 6)

#### Basic Preprocessing

In [10]:
def basic_preprocessing(df):
    # removing nulls
    df = df.loc[
        (df["unique_poc_id"].notnull()) & (df["ppg_name"].notnull())
    ].reset_index(drop=True)
    # clean name
    df["ppg_name_clean"] = df["ppg_name"].parallel_apply(
        lambda x: re.sub(r"\s+", "_", x)
    )
    # poc-Ppg id
    df["poc_ppg_id"] = df.parallel_apply(
        lambda x: str(x["unique_poc_id"]) + "__" + str(x["ppg_name_clean"]), axis=1
    )

    # date column
    df["date"] = pd.to_datetime(df[["year", "month", "day"]])

    df = (
        df.groupby(["poc_ppg_id", "date", "ppg_name", "unique_poc_id"])
        .agg(sales_volume_hl=("sales_volume_hl", "mean"))
        .reset_index()
    )

    return df

In [11]:
volume_df = basic_preprocessing(volume_df)

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=2844641), Label(value='0 / 2844641…

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=2844641), Label(value='0 / 2844641…

In [12]:
volume_df.head()

,poc_ppg_id,date,ppg_name,unique_poc_id,sales_volume_hl
0,AAAA__AK_AB_CG_T,2019-04-20,AK AB CG T,AAAA,0.065803
1,AAAA__AK_AB_CG_T,2019-05-25,AK AB CG T,AAAA,0.131605
2,AAAA__AK_CW_FM_CG_T,2020-06-13,AK CW FM CG T,AAAA,0.098704
3,AAAA__AR_EW_N_DS_CG_T,2019-02-11,AR EW N DS CG T,AAAA,0.000000
4,AAAA__AR_EW_N_DS_CG_T,2019-02-15,AR EW N DS CG T,AAAA,0.164507

In [14]:
volume_df = reduce_mem_usage(volume_df)

Mem. usage decreased to 1289.84 Mb (15.0% reduction)

In [15]:
print(volume_df.shape)
print(volume_df.isnull().sum())

(39779240, 5)
poc_ppg_id         0
date               0
ppg_name           0
unique_poc_id      0
sales_volume_hl    0
dtype: int64

#### start and end dates

In [16]:
def date_id_df(df, max_gap_month):

    # id wise min max dates
    id_life_df = df.groupby(
        ["poc_ppg_id", "unique_poc_id", "ppg_name"], as_index=False
    ).agg(
        start_date_vol=("date", "min"),
        end_date_vol=("date", "max"),
        unique_selling_days=("date", "count"),
    )

    # life of the id
    id_life_df["life_from_start_months"] = (
        datetime.now().year - id_life_df["start_date_vol"].dt.year
    ) * 12 + (datetime.now().month - id_life_df["start_date_vol"].dt.month)

    # last when sold id
    id_life_df["last_selling_record_months"] = (
        datetime.now().year - id_life_df["end_date_vol"].dt.year
    ) * 12 + (datetime.now().month - id_life_df["end_date_vol"].dt.month)

    id_life_df["inactive_life"] = round(
        id_life_df["last_selling_record_months"] / id_life_df["life_from_start_months"],
        2,
    )
    # store last recorded date
    id_life_df["poc_last_sell_date"] = id_life_df.groupby(["unique_poc_id"])[
        "end_date_vol"
    ].transform(lambda x: x.max())

    # ppg last recorded date
    id_life_df["ppg_last_sell_date"] = id_life_df.groupby(["ppg_name"])[
        "end_date_vol"
    ].transform(lambda x: x.max())

    # store gap from current
    id_life_df["poc_last_sell_months"] = (
        datetime.now().year - id_life_df["poc_last_sell_date"].dt.year
    ) * 12 + (datetime.now().month - id_life_df["poc_last_sell_date"].dt.month)

    # ppg gap from current
    id_life_df["ppg_last_sell_months"] = (
        datetime.now().year - id_life_df["poc_last_sell_date"].dt.year
    ) * 12 + (datetime.now().month - id_life_df["poc_last_sell_date"].dt.month)

    # Lets first remove those stores which have already been delisted and then remove delisted ids
    delist_stores = (
        id_life_df.loc[
            id_life_df["poc_last_sell_months"] > max_gap_month, "unique_poc_id"
        ]
        .unique()
        .tolist()
    )
    # remove ids which has no record for last
    delist_ids = (
        id_life_df.loc[
            (id_life_df["last_selling_record_months"] > max_gap_month),  # delist ids
            "poc_ppg_id",
        ]
        .unique()
        .tolist()
    )

    # donot take the delist stores and delist ids
    id_life_df_new = id_life_df.loc[
        ~(id_life_df["unique_poc_id"].isin(delist_stores))
        & ~(id_life_df["poc_ppg_id"].isin(delist_ids))
    ].reset_index(drop=True)

    # mapping key for merge
    id_life_df_new["key"] = 1

    return delist_stores, delist_ids, id_life_df_new

In [17]:
delist_stores, delist_ids, id_life_df = date_id_df(volume_df, 24)

In [18]:
id_life_df = reduce_mem_usage(id_life_df)

Mem. usage decreased to 49.07 Mb (42.0% reduction)

In [19]:
print(id_life_df.head())
print(id_life_df.shape)
print(id_life_df.isnull().sum())

               poc_ppg_id unique_poc_id          ppg_name start_date_vol  \
0   AAAC__AR_EW_N_DS_CG_T          AAAC   AR EW N DS CG T     2019-03-12
1  AAAC__AR_EW_N_DS_ES_AN          AAAC  AR EW N DS ES AN     2019-01-22
2  AAAC__AR_EW_N_DS_FN_DY          AAAC  AR EW N DS FN DY     2019-01-08
3       AAAC__BP_BJ_CG_EH          AAAC       BP BJ CG EH     2019-01-15
4       AAAC__BP_BJ_ES_AN          AAAC       BP BJ ES AN     2019-01-15

  end_date_vol  unique_selling_days  life_from_start_months  \
0   2022-12-20                   74                      64
1   2022-12-27                   84                      66
2   2022-12-02                  102                      66
3   2022-12-20                  108                      66
4   2022-12-20                   98                      66

   last_selling_record_months  inactive_life poc_last_sell_date  \
0                          19       0.300049         2022-12-28
1                          19       0.290039         2022-12-28
2                          19       0.290039         2022-12-28
3                          19       0.290039         2022-12-28
4                          19       0.290039         2022-12-28

  ppg_last_sell_date  poc_last_sell_months  ppg_last_sell_months  key
0         2022-12-31                    19                    19    1
1         2022-12-31                    19                    19    1
2         2022-12-31                    19                    19    1
3         2022-12-31                    19                    19    1
4         2022-12-31                    19                    19    1
(791602, 14)
poc_ppg_id                    0
unique_poc_id                 0
ppg_name                      0
start_date_vol                0
end_date_vol                  0
unique_selling_days           0
life_from_start_months        0
last_selling_record_months    0
inactive_life                 0
poc_last_sell_date            0
ppg_last_sell_date            0
poc_last_sell_months          0
ppg_last_sell_months          0
key                           0
dtype: int64

#### Calendar

In [20]:
holidays_df = pd.read_csv(
    os.path.join(data_folder, "South_Africa_Holidays_2019_2022.csv")
)


def sin_transformer(period):
    return lambda x: np.sin(x / period * 2 * np.pi)


def cos_transformer(period):
    return lambda x: np.cos(x / period * 2 * np.pi)

In [21]:
def calendar_df():
    # holidays df
    holidays_df["Date"] = pd.to_datetime(holidays_df["Date"])
    holidays_df.columns = [col.lower() for col in holidays_df.columns]

    # calendar at daily from date1 to date2
    calendar_df = pd.DataFrame(
        pd.date_range(start="2019-01-01", end="2023-12-31", freq="D"), columns=["date"]
    )

    calendar_df["year"] = calendar_df["date"].dt.year
    calendar_df["month"] = calendar_df["date"].dt.month
    calendar_df["week"] = calendar_df["date"].dt.isocalendar().week

    # adjusting for week-53
    calendar_df["adjusted_year"] = calendar_df.parallel_apply(
        lambda x: x["year"] - 1 if x["week"] == 53 and x["month"] == 1 else x["year"],
        axis=1,
    )
    calendar_df["adjusted_month"] = calendar_df.parallel_apply(
        lambda x: 12 if x["week"] == 53 and x["month"] == 1 else x["month"], axis=1
    )

    # features
    calendar_df["day_of_the_week"] = calendar_df["date"].dt.dayofweek
    # 0-Monday and so on
    calendar_df["is_weekend"] = calendar_df["date"].dt.dayofweek // 4
    calendar_df["is_month_start"] = calendar_df["date"].dt.is_month_start.astype(int)
    calendar_df["is_month_end"] = calendar_df["date"].dt.is_month_end.astype(int)
    calendar_df["quarter"] = calendar_df["date"].dt.quarter

    calendar_df["key"] = 1  # key for merging with unique combinations of id

    # merging the calendar records
    calendar_df = pd.merge(
        calendar_df, holidays_df[["date", "holiday"]], how="left", on="date"
    )

    # holiday marker
    calendar_df["holiday"] = calendar_df["holiday"].parallel_apply(
        lambda x: 1 if not pd.isnull(x) else 0.0
    )

    calendar_df["month_sin"] = calendar_df["month"].apply(sin_transformer(12))
    calendar_df["month_cos"] = calendar_df["month"].apply(cos_transformer(12))

    calendar_df["week_sin"] = calendar_df["week"].apply(sin_transformer(52))
    calendar_df["week_cos"] = calendar_df["week"].apply(cos_transformer(52))

    calendar_df["quarter_sin"] = calendar_df["quarter"].apply(sin_transformer(4))
    calendar_df["quarter_cos"] = calendar_df["quarter"].apply(cos_transformer(4))

    return calendar_df

In [22]:
calendar_df = calendar_df()

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=131), Label(value='0 / 131'))), HB…

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=131), Label(value='0 / 131'))), HB…

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=131), Label(value='0 / 131'))), HB…

In [24]:
print(calendar_df.shape)
print(calendar_df.isnull().sum())
calendar_df.head()

(1826, 19)
date               0
year               0
month              0
week               0
adjusted_year      0
adjusted_month     0
day_of_the_week    0
is_weekend         0
is_month_start     0
is_month_end       0
quarter            0
key                0
holiday            0
month_sin          0
month_cos          0
week_sin           0
week_cos           0
quarter_sin        0
quarter_cos        0
dtype: int64

,date,year,month,week,adjusted_year,adjusted_month,day_of_the_week,is_weekend,is_month_start,is_month_end,quarter,key,holiday,month_sin,month_cos,week_sin,week_cos,quarter_sin,quarter_cos
0,2019-01-01,2019,1,1,2019,1,1,0,1,0,1,1,1.0,0.5,0.866025,0.120537,0.992709,1.0,6.123234e-17
1,2019-01-02,2019,1,1,2019,1,2,0,0,0,1,1,0.0,0.5,0.866025,0.120537,0.992709,1.0,6.123234e-17
2,2019-01-03,2019,1,1,2019,1,3,0,0,0,1,1,0.0,0.5,0.866025,0.120537,0.992709,1.0,6.123234e-17
3,2019-01-04,2019,1,1,2019,1,4,1,0,0,1,1,0.0,0.5,0.866025,0.120537,0.992709,1.0,6.123234e-17
4,2019-01-05,2019,1,1,2019,1,5,1,0,0,1,1,0.0,0.5,0.866025,0.120537,0.992709,1.0,6.123234e-17

#### Id Time continous flow

In [25]:
poc_ppg_cont_df = pd.merge(
    id_life_df[["poc_ppg_id", "start_date_vol", "end_date_vol", "key"]],
    calendar_df[["date", "key"]],
    on="key",
)

poc_ppg_cont_df = reduce_mem_usage(poc_ppg_cont_df)

Mem. usage decreased to 56518.63 Mb (0.0% reduction)

In [26]:
# start from the actual starting date for each combinations
poc_ppg_cont_df = poc_ppg_cont_df.loc[
    poc_ppg_cont_df["date"] >= poc_ppg_cont_df["start_date_vol"]
].reset_index(drop=True)

In [28]:
# sort in right order
poc_ppg_cont_df = poc_ppg_cont_df.sort_values(
    ["poc_ppg_id", "date"], ascending=[True, True]
).reset_index(drop=True)

In [29]:
print(poc_ppg_cont_df.shape)
print(poc_ppg_cont_df.dtypes)
print(poc_ppg_cont_df.isnull().sum())

(1019803948, 5)
poc_ppg_id                object
start_date_vol    datetime64[ns]
end_date_vol      datetime64[ns]
key                         int8
date              datetime64[ns]
dtype: object
poc_ppg_id        0
start_date_vol    0
end_date_vol      0
key               0
date              0
dtype: int64

In [33]:
poc_ppg_cont_df.head()

              poc_ppg_id       date
0  AAAC__AR_EW_N_DS_CG_T 2019-03-12
1  AAAC__AR_EW_N_DS_CG_T 2019-03-13
2  AAAC__AR_EW_N_DS_CG_T 2019-03-14
3  AAAC__AR_EW_N_DS_CG_T 2019-03-15
4  AAAC__AR_EW_N_DS_CG_T 2019-03-16

In [31]:
poc_ppg_cont_df = poc_ppg_cont_df.drop(
    ["start_date_vol", "end_date_vol", "key"], axis=1
)

In [35]:
os.makedirs(os.path.join(os.getcwd(), processed_data_folder), exist_ok=True)
poc_ppg_cont_df.to_pickle(
    os.path.join(os.getcwd(), processed_data_folder, "poc_ppg_daily_continous.pkl")
)
calendar_df.to_pickle(
    os.path.join(os.getcwd(), processed_data_folder, "calendar_daily.pkl")
)
volume_df.to_pickle(
    os.path.join(os.getcwd(), processed_data_folder, "volume_daily_clean.pkl")
)

In [36]:
# Serialize and save the lists to a pickle file
with open(os.path.join(processed_data_folder, "delist_stores_list.pkl"), "wb") as f:
    pickle.dump(delist_stores, f)

with open(os.path.join(processed_data_folder, "delist_id_list.pkl"), "wb") as f:
    pickle.dump(delist_ids, f)